{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Ajouter une catégorie</button>
	{{ form_end(form) }}
{% endblock %}
