{% extends 'base.html.twig' %}

{% block title %}Nouvelle Série
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">Modifier une série</button>
	{{ form_end(form) }}
{% endblock %}
